.ss{
    background-image: url('https://img.freepik.com/free-photo/antique-brown-paper-texture_125540-5541.jpg');
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 5px;
    margin-right: 100px;
}
.story{
    display: flex;
    gap: 10px;
}
.img{
    border-radius: 10px;
    width: 420px;
    height: 75vh;
    /* margin-bottom: 120px; */
    /* margin-right:220px ; */
    margin-left: 120px;
    transition: 1.05s;

}
.img:hover{
    transform: scale(1.02);

}
.story-p{
    width: 420px;
    height: 420px;
}
.p{
    margin-left: 80px;
    color: white;
    font: 600;
    transition: 1.2s;
    text-align: justify;

}
.p:hover{
transform: scale(1.05);
}



@media (max-width: 1024px) {
    .story {
        flex-direction: column;
        align-items: center;
    }

    .img {
        width: 350px;
        height: 60vh;
        margin-left: 0;
    }

    .story-p {
        width: 350px;
        height: auto;
    }

    .p {
        margin-left: 40px;
    }
}

@media (max-width: 768px) {
    .ss {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .img {
        width: 100%;
        height: auto;
        margin-left: 0;
    }

    .story-p {
        width: 100%;
        height: auto;
    }

    .p {
        margin-left: 20px;
        text-align: center;
    }

    .story {
        gap: 20px;
    }
}


@media (max-width: 480px) {
    .ss {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .img {
        width: 100%;
        height: auto;
    }

    .p {
        margin-left: 0;
        text-align: center;
    }

    .story-p {
        width: 100%;
    }
}