.ff22{
  margin-top: 20px;
  margin-bottom: 20px;
}
.user-form {
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  text-align: center;
}

.user-form h3 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

.validation {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.validation label {
  font-size: 16px;
  margin-bottom: 5px;
  color: #555;
  text-align: left;
}

.validation input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.validation p {
  font-size: 12px;
  color: red;
  margin-top: 5px;
  text-align: left;
}

button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #140ce8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

.validation p {
  font-size: 14px;
  margin-top: 10px;
  color: #333;
}

.validation a {
  color: #007bff;
  text-decoration: none;
}

.validation a:hover {
  text-decoration: underline;
}


@media (max-width: 1124px) {
  .user-form {
    max-width: 550px;
    padding: 15px;
  }

  .user-form h3 {
    font-size: 26px;
  }

  .validation input {
    padding: 10px;
  }

  button {
    padding: 10px;
  }
}

@media (max-width: 780px) {
  .user-form {
    max-width: 500px;
    padding: 15px;
  }

  .user-form h3 {
    font-size: 24px;
  }

  .validation label {
    font-size: 14px;
  }

  .validation input {
    padding: 10px;
    font-size: 14px;
  }

  button {
    padding: 10px;
    font-size: 14px;
  }
}

@media (max-width: 580px) {
  .user-form {
    max-width: 100%;
    padding: 12px;
  }

  .user-form h3 {
    font-size: 22px;
  }

  .validation label {
    font-size: 13px;
  }

  .validation input {
    padding: 8px;
    font-size: 14px;
  }

  button {
    padding: 10px;
    font-size: 14px;
  }
}

@media (max-width: 414px) {
  .user-form {
    max-width: 100%;
    padding: 10px;
  }

  .user-form h3 {
    font-size: 18px;
  }

  .validation label {
    font-size: 12px;
  }

  .validation input {
    padding: 6px;
    font-size: 12px;
  }

  button {
    padding: 8px;
    font-size: 12px;
  }

  .validation p {
    font-size: 10px;
  }
}
